<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <router-outlet>
  </router-outlet>
  <!-- <div>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/admin">Admin</a></li>
        <li></li>
      </ul>
    </nav>
  </div>
  <br>
  <hr>
  <h4>Đăng ký thông tin</h4>
  <form action="">
    <div class="form-group">
      <label for="">Tên GV</label>
      <input type="text" (input)="onInput($event, 'name')"
        class="form-control" [value]="inputValue.name">
    </div>
    <div class="form-group">
      <label for="">Tuổi GV</label>
      <input type="number" (input)="onInput($event, 'age')"
        class="form-control" [value]="inputValue.age">
    </div>
    <div class="form-group">
      <label for="">Gender GV</label>
      <br>
      <input type="radio" name="gender" (input)="onInput($event,
        'gender')"
        [checked]="inputValue.gender === '0'" [value]="0" checked> Nữ
      <input type="radio" name="gender" (input)="onInput($event,
        'gender')"
        [checked]="inputValue.gender === '1'" [value]="1"> Nam
    </div>
    <div class="form-group">
      <label for="">Avatar GV</label>
      <input type="text" (input)="onInput($event, 'avatar')"
        class="form-control" [value]="inputValue.avatar">
    </div>
    <div class="form-group">
      <label for="">Status GV</label>
      <br>
      <input type="radio" name="status" (input)="onInput($event,
        'status')"
        [checked]="inputValue.status === '0'" [value]="0" checked> Đã nghỉ
      <input type="radio" name="status" (input)="onInput($event,
        'status')"
        [checked]="inputValue.status === '1'" [value]="1"> Đang hoạt động
    </div>
    <br>
    <div>
      <button type="button" class="btn btn-success"
        (click)="submitForm()">Submit</button>
    </div>
  </form>
  <br>
  <button (click)="changeStatus()" class="btn btn-primary">{{status
    ? 'Ẩn' : 'Hiện'}} bảng DS teacher</button>
  <app-table [users]="teachers" *ngIf="status"></app-table>
  <br>
  <button (click)="clickH1()" class="btn btn-primary">DSSV
    {{schoolName}}</button>
  <div>
    Tên sv : <app-name [name]="name"></app-name>
    Mã sv: <app-identity [identity]="id"></app-identity>
  </div>
  <div>
    <h5>{{valueInput}}</h5>
    <form action="">
      <input type="text" (keydown)="changeInput($event)">
    </form>
  </div>
</div> -->
